:root {
    --color-main1: #cedbe2;
    --color-main2: #69818a;
    --color-main3: #042733;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;

    background-color: var(--color-main3);
    color: var(--color-main1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#github {
    position: absolute;
    bottom: 16px;
    right: 16px;

    height: 48px;
    width: 48px;

    fill: var(--color-main1);

    cursor: pointer;
}

#github:hover {
    fill: var(--color-main2);
}
